@use "../util/" as u;
@use "../global" as g;
.banner {
	display: block;
	width: 100%;
	height: 100%;
	@include u.breakpoints(medium) {
		.theme {
			background-image: url("../../images/bg-desktop-light.jpg");
		}
	}
}
.card {
	width: min(100% - u.rem(50), u.rem(570));
	margin-inline: auto;
	margin-top: u.rem(-160);
	position: relative;
	border-radius: u.rem(5);
	@include u.flex;
	align-items: stretch;
	-webkit-user-select: none;
	user-select: none;
	span {
		color: var(--Dark-Grayish-Blue);
		text-align: center;
		width: 100%;
		margin-inline: auto;
		display: block;
		margin-top: clamp(u.em(30), u.rem(72) + 5vw, u.rem(70));
		font-size: clamp(u.rem(9), u.rem(13) + 1vw, u.rem(15));
		font-weight: 400;
	}
	.card-header {
		@include u.flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: u.rem(30);
		.toggle {
			width: u.rem(20);
			cursor: pointer;
		}
	}
	.card-body {
		.input {
			box-shadow: 0 u.rem(3) u.rem(12) u.rem(-5) var(--Very-Dark-Blue2);
			width: 100%;
			display: block;
			margin-bottom: u.em(15);
			label {
				position: relative;
				input {
					width: 100%;
					background-color: var(--Very-Dark-Desaturated-Blue);
					color: var(--Bright-Blue);
					font-weight: 400;
					font-size: u.rem(16);
					height: u.rem(60);
					border: none;
					border-radius: u.rem(5);
					padding-left: u.rem(50);
					caret-color: var(--Dark-Grayish-Blue);
					&::placeholder {
						color: var(--Dark-Grayish-Blue);
						font-family: "Josefin Sans", sans-serif;
					}
					&:focus {
						outline: u.rem(1) solid var(--Bright-Blue);
					}
				}
				.placeholder {
					position: absolute;
					top: 0;
					left: 0;
					margin-left: u.rem(20);
					.div {
						width: min(u.rem(20), u.rem(20) + 1vw, u.rem(22));
						aspect-ratio: 1;
						border: u.rem(1) solid var(--Dark-Grayish-Blue);
						opacity: 0.3;
						border-radius: 100%;
					}
				}
			}
		}
		.todo-wrapper {
			box-shadow: none;

			.todo {
				max-height: u.rem(350);
				background-color: var(--Very-Dark-Desaturated-Blue);
				overflow: hidden;
				overflow-y: scroll;

				&::-webkit-scrollbar {
					background: var(--Very-Dark-Desaturated-Blue);
					width: u.rem(2);
				}
				&::-webkit-scrollbar-track {
					box-shadow: inset 0 0 u.rem(6) rgba(0, 0, 0, 0.3);
					height: auto;
				}
				&::-webkit-scrollbar-thumb {
					background: var(--Check-Background);
					outline: u.rem(3) solid var(--Very-Dark-Desaturated-Blue);
					border-radius: u.rem(20);
					width: u.rem(5);
				}
				.todo-items,
				.completed {
					cursor: -moz-grab;
					cursor: -webkit-grab;
					cursor: grab;
					@include u.flex;
					flex-direction: row;
					justify-content: space-between;
					background-color: var(--Very-Dark-Desaturated-Blue);
					padding: u.rem(15);
					padding-left: u.rem(20);

					position: relative;
					&::before {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: u.rem(1);
						background-color: var(--Very-Dark-Grayish-Blue);
						opacity: 0.5;
					}

					.task {
						color: var(--Light-Grayish-Blue);
						font-size: u.rem(16);
						transition: color 0.4s ease;
						cursor: pointer;
					}

					.grabbing {
						cursor: grabbing;
						cursor: -moz-grabbing;
						cursor: -webkit-grabbing;
					}
					.button {
						aspect-ratio: 1;
						@include u.flex;
						justify-content: center;
						border-radius: 100%;
						margin-right: u.em(20);
						z-index: 2;
						opacity: 0.3;
						cursor: pointer;
						width: min(u.rem(20), u.rem(20) + 1vw, u.rem(22));
						height: u.rem(20);
						border: u.rem(1) solid var(--Dark-Grayish-Blue);
						border-radius: 100%;
						.check {
							opacity: 0;
							visibility: hidden;
							transition: opacity 0.4s ease;
						}
						.show-check {
							visibility: visible;
							opacity: 1;
						}
					}
					.bg {
						background: var(--Check-Background);
						opacity: unset;
						border: none;
					}

					.mark {
						margin-left: auto;
						cursor: pointer;
					}
				}
				.todo-items {
					&:hover {
						transform: scale(1.02);
						transition: transform 0.3s ease;
					}
				}

				.todo-items.completed {
					transform: none;
				}

				.remove.todo-items {
					@include u.trans(remove, 0.2s);
				}
				.remove.completed {
					@include u.trans(remove, 0.2s);
				}

				.completed > .button .check {
					opacity: 1;
					visibility: visible;
				}
				.completed > .task {
					text-decoration: line-through;
					color: var(--Very-Dark-Grayish-Blue);
				}
				.completed .button {
					background: var(--Check-Background);
					opacity: unset;
					border: none;
				}
			}
			// show all,active or completed todo
			.show-active .completed {
				display: none;
			}

			.removeItem .todo-items {
				display: none;
			}
			//////////////////////////////
			.mobile-component {
				box-shadow: u.rem(0) u.rem(10) u.rem(10) u.rem(-5)
					var(--Very-Dark-Blue2);

				margin-bottom: u.em(30);
				background-color: var(--Very-Dark-Desaturated-Blue);
				@include u.flex;
				flex-direction: row;
				justify-content: space-between;
				padding: u.em(20);
				font-size: u.rem(15);
				cursor: pointer;
				color: var(--Dark-Grayish-Blue);
				border-bottom-left-radius: u.rem(5);
				border-bottom-right-radius: u.rem(5);
				@include u.breakpoints(medium2) {
					margin-bottom: u.em(0);
					display: none !important;
				}

				.clear-Completed {
					transition: 0.3s ease;
					cursor: pointer;
					&:hover {
						color: var(--Light-Grayish-Blue);
					}
				}
			}

			.todo-footer {
				box-shadow: u.rem(6) u.rem(20) u.rem(15) u.rem(-5)
					var(--Very-Dark-Blue2);

				@include u.flex;
				flex-direction: row;
				justify-content: center;
				font-size: u.rem(17);
				background-color: var(--Very-Dark-Desaturated-Blue);
				border-radius: u.rem(7);
				@include u.breakpoints(medium2) {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}

				.in-common {
					display: none;
					color: var(--Dark-Grayish-Blue);
				}

				.todo-track {
					padding: u.em(20);
					ul {
						@include u.flex;
						flex-direction: row;
						font-weight: 700;
						li {
							margin: 0 u.em(15);
							a {
								font-weight: 700;
								text-decoration: none;
								color: var(--Dark-Grayish-Blue);
								font-size: u.rem(15);
								cursor: pointer;
								transition: 0.5s ease;
								user-select: none;
								&:hover {
									color: var(--Very-Light-Gray);
								}
								&.focus {
									color: var(--Bright-Blue);
								}
							}
							list-style: none;
						}
					}
				}
				.in-common1 {
					display: none;
					cursor: pointer;
					color: var(--Dark-Grayish-Blue);
					transition: 0.5s ease;
					&:hover {
						color: var(--Very-Light-Gray);
					}
					&.focus {
						color: var(--Bright-Blue);
					}
					@include u.breakpoints(medium2) {
						display: flex;
					}
				}
				.in-common3 {
					display: none;
					color: var(--Dark-Grayish-Blue);
					cursor: pointer;
					&:hover {
						color: var(--Very-Light-Gray);
					}
				}
				@include u.breakpoints(medium2) {
					justify-content: space-between;
					padding-inline: u.rem(30);
					.in-common,
					.in-common3 {
						display: block;
					}
				}
			}
		}
	}
}

footer {
	margin-top: u.rem(40);
	font-size: u.rem(15);
	color: var(--Light-Grayish-Blue);
	a {
		color: var(--Bright-Blue);
	}
}

aside {
	.me {
		display: none;
		position: absolute;
		bottom: u.rem(100);
		right: u.rem(40);
		width: u.rem(50);
		height: u.rem(50);
		border-radius: 100%;
		box-shadow: 1px 1px u.rem(2) u.rem(-2) var(--Light-Grayish-Blue);
		@include u.breakpoints(medium2) {
			display: block;
		}
		&:hover {
			transform: scale(1.2);
			transition: transform 0.4s ease-in-out;
			cursor: pointer;
		}
	}
}
